<div class="container-fluid bg-mycolor text-white d-flex" id="topcont">
    <h2 class="mx-auto my-auto">Complete Your Profile</h2>
  </div>



<div class="container-fluid">
<form class="row g-3">
  <div class="col-12">
    <label for="Firstname" class="form-label"> First Name</label>
    <input type="text" class="form-control" id="Firstname" >
  </div>
  <div class="col-6">
    <label for="Middlename" class="form-label">Middle Name</label>
    <input type="email" class="form-control" id="Middlename">
  </div>
  <div class="col-6">
    <label for="Lastname" class="form-label">Last Name</label>
    <input type="password" class="form-control" id="Lastname">
  </div>
  
  <div class="col-12">
    <label for="mobile" class="form-label">Mobile Number</label>
    <input type="text" class="form-control" id="mobile" >
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email Address</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <!-- <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div> -->
  <div class="col-md-12">
    <label for="inputState" class="form-label">City/State</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="citystate" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-map-marker-alt"></i></button>
    </div>
  </div>
  
 
  <div class="container-fluid d-flex">
    <button type="submit" class="btn btn-mycolor mx-auto" id="donebtn">Done</button>
  </div>
</form>
</div>
