<div class="container-fluid bg-mycolor text-white d-flex" id="topcont">
    <h2 class="mx-auto my-auto">ReviewProbe-Job </h2>
  </div>

<div class="input-group mb-3 my-4" id="main">
  
    <button class="btn btn-outline-secondary text-white" type="button"><strong> Notification Frequency</strong></button>
    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option selected>Select...</option>
      <option value="1">Daily</option>
      <option value="2">Weekly</option>
      <option value="3">Monthly</option>
    </select>
  </div>